.personal-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #e5e8e9;
}

.form-group {
  margin: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  width: 48%;
  position: relative;
}

.preview-details-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.form-details-container {
  width: 48%;
  background-color: #ffffff;
  padding-left: 2%;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.form-group-preview {
  flex-direction: row;
  width: 100%;
}

.form-group-preview label {
  margin-right: 10px;
  color: #848c95;
}

.preview-details-header {
  width: 100%;
  height: 100px;
  background-color: #425062;
  position: relative;
}

.preview-details-header .avatar-img {
  width: 83px;
  height: 100px;
  position: absolute;
  right: 10px;
  background-color: #ffffff;
  top: 9px;
}

img {
  width: 100%;
  height: 100%;
}

.preview-container input {
  height: 36px;
  max-width: 180px;
  border-radius: 5px;
  border: 1px solid #d3d4d3;
  padding-left: 10px;
}

.preview-details-frame {
  width: 90%;
  left: auto;
  margin-top: 100px;
  position: relative;
}

.divider {
  color: #c1c6c8;
}

.btn-submit.btn-primary {
  background-color: #6ca7dd;
}

.btn {
  max-width: 192px;
  height: 52px;
  border-radius: 5px;
  background-color: #7c8d9a;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  line-height: 50px;
  font-size: 20px;
  color: #ffffff;
}

input[type="file"] {
  display: none;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 15px 0 3px;
}

.field-error {
  color: #f30b0b;
  position: absolute;
  top: 60px;
}

.full-name {
  display: flex;
  padding: 47px;
  font-size: 30px;
  color: #ffffff;
}

.full-name .first-name {
  margin-right: 5px;
}

.form-group-preview-givenName,
.form-group-preview-surname {
  display: none;
}

.form-group-preview {
  border-bottom: 1px solid #e5e8e9;
}

.preview-details-wrapper {
  background-color: #ffffff;
  padding: 10px;
}

.preview-container {
  background-color: #e7e8eb;
}

h3 {
  color: #425062;
  font-size: 25px;
}

h4 {
  color: #cdd2d4;
  font-size: 18px;
}

h5 {
  color: #cdd2d4;
  font-size: 15px;
}

.preview-details-frame h4 {
  margin: 0;
  text-align: end;
}

@media screen and (max-width: 550px) {
  .form-details-container,
  .preview-details-container {
    width: 100%;
  }
}

.completion-message {
  margin: auto;
  background-color: #e7e8eb;
  margin-bottom: 10px;
  padding: 5px;
}

.avatar-img {
  border: 2px solid #e7e8eb;
}
